#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// 5行7列 × 2 = 70キー
			// ZMK split position order: 左35キー -> 右35キー
			bindings = <
				// Left half (35)
				&none      &kp ESC    &kp N1     &kp N2       &kp N3     &kp N4      &kp N5
				&none      &kp TAB    &kp Q      &kp W        &kp E      &kp R       &kp T
				&none      &kp CAPS   &kp A      &kp S        &kp D      &kp F       &kp G
				&none      &kp LSHIFT &kp Z      &kp X        &kp C      &kp V       &kp B
				&none      &kp LCTRL  &kp LGUI   &kp LALT     &none      &none       &kp SPACE

				// Right half (35)
				&kp N6     &kp N7     &kp N8     &kp N9       &kp N0     &kp MINUS   &kp BSPC
				&kp Y      &kp U      &kp I      &kp O        &kp P      &kp LS(N2)  &kp LBKT
				&kp H      &kp J      &kp K      &kp L        &kp SEMI   &kp LS(SEMI) &kp RET
				&kp N      &kp M      &kp COMMA  &kp DOT      &kp FSLH   &kp BSLH    &kp RSHIFT
				&kp SPACE  &none      &none      &none        &kp LALT   &kp K_APP   &kp RCTRL
			>;
		};
	};
};
